
<div class="container" >

    <div class="row">

        <div class="col-6">

            <button type="button" class="btn btn-primary"><i class="fa fa-filter" aria-hidden="true"></i>Filter</button>
        </div>
    </div>
    <div class="container" style="position:relative;top:-40px">
        <div class="container" style="background-color:white;
 box-shadow: 1px 1px 1px 1px #888888; height: 100%; width:100%;top:40px; position: relative;">
            <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
                <div class="col">
                    <div style="color: gray;">Branch Name</div>
                    <p style="font-weight: 150px;">AMARVATHI-CAO</p>
                </div>
                <div class="col">
                    <div style="color: gray;">Chit Value</div>
                    <p>1,00,000</p>
                </div>
                <div class="col">
                    <div style="color: gray;">Chit Period</div>
                    <p>25</p>
                </div>

                <div class="col">
                    <div style="color: gray;">Subscription Amount</div>
                    <p>4,000</p>
                </div>
                <div class="col" style="position: relative; margin-top: -10px;">
                    <div style="color: gray;">Action Number</div>
                    <p>16</p>
                </div>
                <div class="col" style="position: relative; margin-top: -10px;">
                    <div style="color: gray;">Vaccant Value</div>
                    <p>63,596</p>
                </div>
                <div class="col" style="position: relative; margin-top: -10px;">
                    <div style="color: gray;">No.of Vaccant Tickets</div>
                    <p>1</p>
                </div>

            </div>
        </div>
        <br>
        <div class="container" style="background-color:white;
box-shadow: 1px 1px 1px 1px #888888; height: 100%; width:100%;top:40px; position: relative;">
            <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
                <div class="col">
                    <div style="color: gray;">Branch Name</div>
                    <p style="font-weight: 150px;">AMARVATHI-CAO</p>
                </div>
                <div class="col">
                    <div style="color: gray;">Chit Value</div>
                    <p>1,00,000</p>
                </div>
                <div class="col">
                    <div style="color: gray;">Chit Period</div>
                    <p>25</p>
                </div>

                <div class="col">
                    <div style="color: gray;">Subscription Amount</div>
                    <p>4,000</p>
                </div>
                <div class="col" style="position: relative; margin-top: -10px;">
                    <div style="color: gray;">Action Number</div>
                    <p>16</p>
                </div>
                <div class="col" style="position: relative; margin-top: -10px;">
                    <div style="color: gray;">Vaccant Value</div>
                    <p>63,596</p>
                </div>
                <div class="col" style="position: relative; margin-top: -10px;">
                    <div style="color: gray;">No.of Vaccant Tickets</div>
                    <p>1</p>
                </div>

            </div>
        </div>
        <br>
        <div class="container" style="background-color:white;
box-shadow: 1px 1px 1px 1px #888888; height: 100%; width:100%;top:40px; position: relative;">
            <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
                <div class="col">
                    <div style="color: gray;">Branch Name</div>
                    <p style="font-weight: 150px;">AMARVATHI-CAO</p>
                </div>
                <div class="col">
                    <div style="color: gray;">Chit Value</div>
                    <p>1,00,000</p>
                </div>
                <div class="col">
                    <div style="color: gray;">Chit Period</div>
                    <p>25</p>
                </div>

                <div class="col">
                    <div style="color: gray;">Subscription Amount</div>
                    <p>4,000</p>
                </div>
                <div class="col" style="position: relative; margin-top: -10px;">
                    <div style="color: gray;">Action Number</div>
                    <p>16</p>
                </div>
                <div class="col" style="position: relative; margin-top: -10px;">
                    <div style="color: gray;">Vaccant Value</div>
                    <p>63,596</p>
                </div>
                <div class="col" style="position: relative; margin-top: -10px;">
                    <div style="color: gray;">No.of Vaccant Tickets</div>
                    <p>1</p>
                </div>

            </div>
        </div>
    </div>
</div>