<div class="row" style="margin-top: 45px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <div class="page-title-right">

                <ol class="breadcrumb m-0">

                    <li class="breadcrumb-item active text-dark" (click)="close()">Real Estate</li>
                    <li class="breadcrumb-item active">
                        <a role="button" class="text-primary">Add Lead</a>
                    </li>


                </ol>

            </div>
            <h4 *ngIf="role ==='Agent'">Agent Branch:</h4>
            <h4 class="mb-sm-0">Add Lead</h4>



        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">

            <form [formGroup]="CreateFormBasedOnLabel()" class="tablelist-form">
                <div class="card-body">
                    <div class="row">
                        <!-- Name -->
                        <div class="col">
                            <div>
                                <label for="customername-field" class="form-label">Name</label>
                                <input type="text" id="customername-field" class="form-control"
                                    formControlName="leadName" placeholder="Enter Name" required />
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="col">
                            <div>
                                <label for="email-field" class="form-label">Email</label>
                                <input type="email" id="email-field" class="form-control" placeholder="Enter Email"
                                    formControlName="emailId" />
                            </div>
                        </div>
                        <!-- Phone -->
                        <div class="col">
                            <div class="mb-3">
                                <label for="phone-field" class="form-label">Phone</label>
                                <input type="number" id="phone-field" class="form-control" placeholder="Enter Phone no."
                                    formControlName="contactNo" />
                            </div>
                        </div>
                        <!-- Enquired Date -->
                        <!-- <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Enquired Date</label>
                                <input type="date" class="form-control" formControlName="dob">
                            </div>
                        </div> -->
                        <!-- Agent -->
                        <!-- <div class="col-md-6">
                            <label for="exampleInputPassword1" class="form-label">Agent</label>
                            <div class="input-group">
                                <select formControlName="assignTo" class="form-select mb-3"
                                    aria-label="Default select example">
                                    <option value="" disabled selected style="display:none;">Select Agent</option>
                                    <option *ngFor="let user of usersData" [value]="user.id">{{ user.firstName }} {{
                                        user.lastName }}</option>
                                </select>
                            </div>
                        </div> -->
                        <!-- Product -->







                    </div>



                    <div class="row">


                        <div class="col">
                            <label for="productCategory" class="form-label">Product Category</label>
                            <br>
                            <!-- <select id="productCategory" formControlName="productCategory" class="form-select"
                                (change)="onProductTypeChange($event)">
                                <option value="">Select Product Category</option>
                                <option *ngFor="let category of productCategory" [value]="category.code">{{
                                    category.name }}</option>
                            </select> -->
                            <select (change)="onProductTypeChange($event)" class="form-select"
                                aria-label="Default select example">
                                <option value="" disabled selected>Select Product Category</option>
                                <ng-container *ngFor="let vertical of enumConstants">
                                    <option [value]="vertical.constantName">{{vertical.description}}</option>
                                </ng-container>
                            </select>

                        </div>
                        <div class="col">
                            <label for="exampleInputPassword1" class="form-label"> Lead Source</label>
                            <div class="input-group">
                                <select class="form-select" (change)="onSourceChange($event)">
                                    <option value="">Select Source</option>
                                    <option *ngFor="let source of leadSourceData" [ngValue]="source">{{ source.name }}</option>
                                  </select>
                            </div>
                        </div>

                        <div class="col">
                            <label for="exampleInputPassword1" class="form-label"> Lead Sub Source</label>
                            <div class="input-group">
                                <select formControlName="" class="form-select">
                                    <option value="">Select Sub Source</option>
                                    <option *ngFor="let sub of SourceSubCategoryData" [value]="sub.id">
                                        {{ sub.title }}

                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row gy-2">
                            <!-- Product Dropdown -->
                            <!-- <div class="col-md-6">
                                    <label for="product" class="form-label">Select Product:</label>
                                    <br>
                                    <select id="product" formControlName="product" class="form-select"
                                        ">
                                        <option value="">Select Product</option>
                                        <option *ngFor="let product of productsByType" [value]="product.product">{{
                                            product.product }}</option>
                                    </select>
                                </div> -->
                            <!-- product facing -->



                            <div class="col" *ngIf="showOpenPlots">
                                <label for="product" class="form-label">Layout Name</label>

                                <select id="Type" formControlName="openPlots " class="form-select">
                                    <option value="">Select Layout Name </option>

                                    <option *ngFor="let product of openPlots " [value]="product.layoutCode">{{
                                        product.layoutName }}</option>
                                </select>
                            </div>
                            <div class="col" *ngIf="showApartmentArea || showVillaArea ">
                                <label for="product" class="form-label" *ngIf="showApartmentArea"> Apartment
                                    Type</label>
                                <label for="product" class="form-label" *ngIf="showVillaArea">Villa Type</label>


                                <select id="Type" formControlName="Type" class="form-select" *ngIf="showApartmentArea">
                                    <option value="">Select Type</option>

                                    <option *ngFor="let product of productsTypeenumConstants "
                                        [value]="product.constantName">{{
                                        product.constantName}}</option>
                                </select>
                                <select id="Type" formControlName="Type" class="form-select" *ngIf="showVillaArea">
                                    <option value="">Select Type</option>

                                    <option *ngFor="let product of villaTypeenumConstants "
                                        [value]="product.constantName">{{
                                        product.constantName}}</option>
                                </select>
                            </div>
                            <!-- <div class="col" *ngIf="showVillaType">
                                    <label for="product" class="form-label">Villas Type</label>
                                    <br>
                                    <select id="Type" formControlName="Type" class="form-select"
                                        ">
                                        <option value="">Select Villa Type</option>
                                        <option *ngFor="let product of villaType" [value]="product.name">{{
                                            product.name }}</option>
                                    </select>
                                </div> -->
                            <div class="col" *ngIf="showApartmentArea || showVillaArea || showOpenPlots">
                                <label for="product" class="form-label">Facing</label>
                                <select id="facing" formControlName="facing" class="form-select">
                                    <option value="">Select facing</option>
                                    <option *ngFor="let product of facingenumConstants" [value]="product.constantName">
                                        {{
                                        product.description }}</option>
                                </select>
                            </div>


                            <div class="col" *ngIf="showApartmentArea || showOpenPlots">

                                <label for="product" class="form-label"> Area</label>
                                <select id="facing" formControlName="facing" class="form-select">
                                    <option value="">Select Area</option>
                                    <option *ngFor="let apartment of filteredApartments" [value]="apartment.Area">{{
                                        apartment.Area }}</option>
                                </select>
                            </div>
                            <div class="col" *ngIf="showVillaArea">
                                <label for="product" class="form-label">Villas Area</label>
                                <br>
                                <!-- <select id="facing" formControlName="facing" class="form-select">
                                    <option value="">Select Area</option>
                                    <option *ngFor="let product of villaTypeenumConstants"
                                        [value]="product.constantName">{{
                                        product.description }}</option>
                                </select> -->
                                <input type="text" class="form-control">
                            </div>


                            <div class="col" *ngIf="showcoworking">
                                <label for="coworking" class="form-label">Project Name</label>
                                <br>
                                <select id="facing" formControlName="coworking" class="form-select">
                                    <option value="">Select project</option>
                                    <option *ngFor="let product of coworking" [value]="product.prjectCode">{{
                                        product.prjectName }}</option>
                                </select>
                            </div>
                            <div class="col" *ngIf="showcoworking">
                                <label for="coworking" class="form-label">Product Name</label>
                                <br>
                                <select id="facing" formControlName="coworking" class="form-select">
                                    <option value="">Select project</option>
                                    <option *ngFor="let product of coworking" [value]="product.productCode">{{
                                        product.productName }}</option>
                                </select>
                            </div>
                            <!-- // commercialUnits -->
                            <div class="col" *ngIf="showCommercialUnits">
                                <label for="floorNo" class="form-label">Floor No.</label>

                                <select id="floorNo" formControlName="floorNo" class="form-select"
                                    (change)="onFloorNoChange($event)">
                                    <option value="">Select Floor No</option>
                                    <option *ngFor="let unit of commercialUnits" [value]="unit.floorNo">{{ unit.floorNo
                                        }}</option>
                                </select>
                            </div>
                            <div class="col" *ngIf="showCommercialUnits && selectedFloorNo">
                                <label for="floorUnit" class="form-label">Floor Unit</label>
                                <br>
                                <input type="text" id="floorUnit" class="form-control" [(ngModel)]="selectedUnit"
                                    [value]="getFloorUnit()" readonly>
                            </div>
                            <div class="col" *ngIf="showCommercialUnits">
                                <label for="product" class="form-label">Project Name</label>

                                <select id="facing" formControlName="productNames" class="form-select">
                                    <option value="">Select projectName</option>
                                    <option *ngFor="let product of commercialUnits" [value]="product.projectCode">{{
                                        product.projectName }}</option>
                                </select>
                            </div>








                            <!-- // commercial space -->

                            <div class="col" *ngIf="showCommercialSpace">
                                <label for="product" class="form-label">Project Name</label>
                                <br>
                                <select id="facing" formControlName="productNames" class="form-select">
                                    <option value="">Select projectName</option>
                                    <option *ngFor="let product of commercialSpace" [value]="product.projectCode">{{
                                        product.projectName }}</option>
                                </select>
                            </div>
                            <div class="col" *ngIf="showCommercialSpace">
                                <label for="product" class="form-label">Unit Size</label>
                                <br>
                                <select id="facing" formControlName="unitSize" class="form-select">
                                    <option value="">Select Unit Size</option>
                                    <option *ngFor="let product of commercialSpace" [value]="product.unitSize">{{
                                        product.unitSize}}</option>
                                </select>
                            </div>
                            <div class="col" *ngIf="showCommercialSpace">
                                <label for="product" class="form-label">Value</label>
                                <br>
                                <select id="facing" formControlName="value" class="form-select">
                                    <option value="">Select Value</option>
                                    <option *ngFor="let product of commercialSpace" [value]="product.value">{{
                                        product.value}}</option>
                                </select>
                            </div>
                            <!-- <div class="col" *ngIf="showCommercialSpace">
                                <label for="product" class="form-label">Monthly Rent</label>
                                <br>
                                <select id="facing" formControlName="monthlyRent" class="form-select">
                                    <option value="">Select Monthly Rent</option>
                                    <option *ngFor="let product of commercialSpace" [value]="product.monthlyRent">{{
                                        product.monthlyRent}}</option>
                                </select>
                            </div> -->



                        </div>


                    </div>
                    <br>



                    <br>

                    <div class="mb-3 row">
                        <div class="col-6">
                            <label for="customername-field" class="form-label">Address</label>

                            <textarea class="form-control" id="exampleFormControlTextarea5" formControlName="address"
                                rows="3"></textarea>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="exampleFormControlTextarea5" class="form-label">Query</label>
                            <textarea class="form-control" id="exampleFormControlTextarea5" formControlName=""
                                rows="3"></textarea>

                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class=" col-md-6">
                            <label for="exampleInputPassword1" class="form-label">Status</label>
                            <div class="input-group">

                                <select class="form-select" aria-label="Default select example">
                                    <option value="" disabled selected>Select Status</option>
                                    <ng-container *ngFor="let vertical of  LeadStatusTypeenumConstants">
                                        <option [value]="vertical.constantName">{{vertical.constantName}}</option>
                                    </ng-container>
                                </select>
                            </div>

                        </div>
                    </div>



                    <div class="modal-footer">
                        <div class="hstack gap-2 justify-content-end">
                            <!-- Cancel button -->
                            <button type="button" class="btn btn-light" (click)="close()">Cancel</button>
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-success" id="add-btn"
                                [disabled]="!realestateLeadForm.valid" (click)="onSubmit()"
                                [ngClass]="{'text-body-tertiary': realestateLeadForm.valid}">
                                Add Lead
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div style="z-index: 11">
    <div id="borderedToast4" class="toast toast-border-danger overflow-hidden mt-3" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="toast-body">
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0 me-2">
                    <i class="ri-alert-line align-middle"></i>
                </div>
                <div class="flex-grow-1">
                    <h6 class="mb-0">Something is very wrong! <a href="javascript:void(0);"
                            class="text-decoration-underline">See detailed report.</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>