<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4>Create Agent </h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Administration</li>
                    <li class="breadcrumb-item active">Agent</li>
                </ol>
                <br>

            </div>


        </div>
    </div>
    
</div>


<div class="card">
    <div class="card-header">
        <!-- <h2 class="card-title">Create Agent</h2> -->

    </div>
    <div class="card-body">
        <form [formGroup]="agentform">
            <div class="row">
                <div class="col">
                    <label for="exampleInputPassword1" class="form-label"> First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" formControlName="firstName">
                    <div *ngIf="submitted && agentform.get('firstName').invalid">
                        <div *ngIf="agentform.get('firstName').errors.required" class="text-danger"> first Name is
                            required.</div>
                    </div>


                </div>
                <div class="col">
                    <label for="exampleInputPassword1" class="form-label">Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
                    <div *ngIf="submitted && agentform.get('lastName').invalid">
                        <div *ngIf="agentform.get('lastName').errors.required" class="text-danger"> lastName is
                            required.</div>
                    </div>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label for="exampleInputPassword1" class="form-label"> User Name</label>
                    <input type="text" class="form-control" 
                        placeholder="User Name" formControlName="userName">
                    <div *ngIf="submitted && agentform.get('userName').invalid">
                        <div *ngIf="agentform.get('userName').errors.required" class="text-danger"> User Name is
                            required.</div>
                    </div>


                </div>

                <div class="col">
                    <label for="exampleInputPassword1" class="form-label"> Roles</label>
                    <input disabled type="text" class="form-control" 
                        placeholder="Agent">

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label for="exampleInputPassword1" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" placeholder="Phone Number" formControlName="phoneNumber"
                        style="position: relative; ">
                    <div *ngIf="submitted && agentform.get('phoneNumber').invalid">
                        <div *ngIf="agentform.get('phoneNumber').errors.required" class="text-danger">
                            phoneNumber is
                            required.</div>
                    </div>


                </div>
                <div class="col">

                    <label for="exampleInputPassword1" class="form-label">Branch <span
                            style="color:red">*</span></label>
                    <select formControlName="branchId" class="form-select" aria-label="Default select example">
                        @for(branch of baranchList; track $index){
                        <option [value]="branch.id">{{branch.name}}</option>
                        }
                    </select>

                </div>

            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label for="exampleInputPassword1" class="form-label">Email-Id</label>
                    <input type="text" class="form-control" placeholder="Email-ID"
                      formControlName="email">
                    <div *ngIf="submitted && agentform.get('email').invalid">
                        <div *ngIf="agentform.get('email').errors.required" class="text-danger"> Email is
                            required.
                        </div>
                    </div>


                </div>
                <div class="col">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="Password" formControlName="password">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label for="exampleInputPassword1" class="form-label">PAN No.</label>
                    <input type="number" class="form-control" placeholder="PAN No." formControlName="panNo">
                </div>
                <div class="col">
                    <label for="exampleInputPassword1" class="form-label">Agent Id</label>
                    <input type="text" class="form-control" placeholder="Agent Id" formControlName="code">
                </div>

            </div>
            <br>

            <div class="hstack gap-2 justify-content-end mb-3">
                <!-- <button class="btn btn-danger" (click)="onCloseHandled()">Cancel</button> -->
                <button class="btn btn-success" (click)="onSubmit()">Save</button>
            </div>

        </form>
    </div>

</div>