<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4>Designations</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Chits</li>
                    <li class="breadcrumb-item active">Master</li>
                    <li class="breadcrumb-item active">Designations</li>
                </ol>

            </div>

        </div>
    </div>
    <div class="col-sm">
        <div class="d-flex justify-content-sm-end gap-2">
            <button type="button" class="btn btn-success" id="create-btn" (click)="openModal()" data-toggle="tooltip"
                data-placement="top" title="click Add"><i class="ri-add-line align-bottom me-1"></i>
                Add</button>
            <button class="btn btn-success" (click)="clearAllSearchFields()">Clear All</button>
        </div>
    </div>
</div>

<div class="container" style="position: relative;top:-30px;">
    <div class="row d-flex d-sm-flex mt-3 mb-2">
        <div class="search-box  col-2">
            <input type="text" class="form-control search" placeholder="Search for Zone.."
                [(ngModel)]="searchTermDesignation" (input)="filterData()">
            <i class="ri-search-line search-icon"></i>
        </div>
        <div class="search-box  col-2">
            <input type="text" class="form-control search" placeholder="Search for Region.."
                [(ngModel)]="searchTermReportsTo" (input)="filterData()">
            <i class="ri-search-line search-icon"></i>
        </div>
    </div>
    <table class="table table-striped" id="sortable-table">

        <thead class="text-muted table-light">
            <tr>
                <th scope="col" (click)="sortTable('name')" style="cursor:pointer">
                    Designation
                    <span *ngIf="sortColumn === 'name'">
                        <!-- Show ascending or descending icon based on sortOrder -->
                        <i *ngIf="sortOrder === 'asc'" class="fa fa-sort-up"></i>
                        <i *ngIf="sortOrder === 'desc'" class="fa fa-sort-down"></i>
                    </span>
                    <span *ngIf="sortColumn !== 'name'">
                        <!-- Hide the default ascending icon when sorting by other columns -->
                        <i [hidden]="true" class="fa fa-sort-up"></i>
                    </span>
                </th>
                <!-- <th scope="col">Region</th> -->
                <th scope="col" (click)="sortTable('reportingName')" style="cursor:pointer">
                    Reports To
                    <span *ngIf="sortColumn === 'reportingName'">
                        <i *ngIf="sortOrder === 'asc'" class="fa fa-sort-up"></i>
                        <i *ngIf="sortOrder === 'desc'" class="fa fa-sort-down"></i>
                    </span>
                </th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody style="position: relative;left:10px;">
            @for (list of sorteddesiginationList; track $index) {
            <tr>
                <td>{{list.vchdesigname}}</td>
                <td>{{list.reportingName}}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-subtle-secondary btn-sm dropdown-toggle" type="button"
                            data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" style="cursor: pointer;">
                            <li style="cursor: pointer;">
                                <a class="dropdown-item" href="javascript:void(0);" style="cursor: pointer;"
                                    (click)="EditModal(list.id)">Edit</a>
                            </li>
                            <li style="cursor: pointer;">
                                <a class="dropdown-item" href="javascript:void(0);" style="cursor: pointer;"
                                    (click)="openDelete(list.id)">Delete</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            }
        </tbody>

    </table>
    <i style="font-size:16px;color:navy;position: relative;left:10px" class="fa">&#xf021;</i>
    <div class="d-flex justify-content-end">
        <div class="pagination-wrap hstack gap-2">
            <pagination class="pagination-wrap hstack gap-2" [totalItems]="designationListData.length"
                [itemsPerPage]="15" (pageChanged)="tablepageChanged($event)"></pagination>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Create Designation</h2>
                <span class="close" aria-label="Close" (click)="onCloseHandled()" aria-hidden="true"
                    style="font-size: 30px; color: #888888; cursor: pointer;">&times;</span>
            </div>
            <div class="modal-body">
                <form [formGroup]="designationForm">

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Designation</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Name"
                            formControlName="name">
                        <div *ngIf="submitted && designationForm.get('name').invalid">
                            <div *ngIf="designationForm.get('name').errors.required" style="color: red;"> Designation is
                                required.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Code</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Code"
                            formControlName="code">
                        <div *ngIf="submitted && designationForm.get('code').invalid">
                            <div *ngIf="designationForm.get('code').errors.required" style="color: red;"> Code is
                                required.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Reports To.</label>
                        <select class="form-select" aria-label="Default select example" formControlName="reportsTo">
                            @for(list of designationData; track $index){
                            <option [value]="list.id">{{list.name}}</option>
                            }

                        </select>
                        <div *ngIf="submitted && designationForm.get('reportsTo').invalid">
                            <div *ngIf="designationForm.get('reportsTo').errors.required" style="color: red;"> select
                                one option

                            </div>
                        </div>
                    </div>
                    <div class="display d-flex gap-2">
                        <button type="button" class="btn btn-danger" (click)="onCloseHandled()">Cancel</button>
                        <button type="button" class="btn btn-success" (click)="onSubmit()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display2}" id="dltModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <span style="font-weight: bold;margin-left: 130px;"> Do you want to delete record?</span>
                <span class="close" aria-label="Close" (click)="onClosed()" aria-hidden="true"
                    style="font-size: 30px; color: #888888; cursor: pointer;">&times;</span>
            </div>
            <hr>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="deleteDesignation()">OK</button>
                <button type="button" class="btn btn-danger" (click)="onClosed()">X Cancel</button>
            </div>
        </div>
    </div>

</div>