<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h2>Upload Fresh Leads
              
            </h2>
           

            

        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <!-- <div class="flex-grow-1">
                    <h2 class="card-title mb-0">Upload Fresh Leads </h2>
                </div> -->
                <div class="flex-shrink-0">
                    <div class="d-flex flex-wrap align-items-start gap-2">
                        <button class="btn btn-info" role="button" aria-disabled="true"  style=" line-height: -0em;  /*  <-- this was it ! */
                        vertical-align: middle; height: 30px;">DownLoad Excel Format</button>
                        <a class="btn btn-info" role="button" aria-disabled="true" style="width:50px">-</a>
                    </div>
                </div>
                
            </div>
            <div class="card-body">
                <div class="row gy-4">

                    <div class="col-xxl-3 col-md-6">
                        <div>
                            <label for="valueInput" class="form-label">File</label>
                            <input type="file" class="form-control" id="valueInput" value="Browse Your File"
                                placeholder="Browse Your File">
                        </div>
                    </div>

                
                    <!-- <div class="col-xxl-3 col-md-6" style="position: relative;top:28px">
                        <div>
                            <a class="btn btn-info btn-lg " role="button" aria-disabled="true">Show</a>
                            <a class="btn btn-danger btn-lg " role="button" aria-disabled="true">Clear</a>
                        </div>
                    </div> -->
                   


                </div>

               
                <!-- end noresult -->

                <div class="row mt-3 align-items-center" id="pagination-element">
                    <!-- <div class="col-sm">
                        <div class="text-muted text-center text-sm-start">
                            Showing <span class="fw-semibold">{{products?.length}}</span> of <span class="fw-semibold">{{allproducts?.length}}</span> Results
                        </div>
                    </div> -->

                    <div class="col-sm-auto mt-3 mt-sm-0" style="position: relative; left:700px">
                        <div>
                            <a class="btn btn-info btn-lg " role="button" aria-disabled="true">Upload</a>
                            <a class="btn btn-danger btn-lg " role="button" aria-disabled="true">Clear</a>
                        </div>
                    </div>
                </div>
                <!-- end pagination-element -->
            </div>
           
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->
<button class="btn btn-info" role="button" aria-disabled="true"  style=" line-height: -0em;  /*  <-- this was it ! */
vertical-align: middle; height: 30px;">Get source,sub source And Channel Partner Details</button>