<!-- <div class="timeline">
    <div *ngFor="let item of timelineItems" class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <h4 class="timeline-title">{{ item.title }}</h4>
        <p class="timeline-description">{{ item.description }}</p>
      </div>
    </div>
  </div> -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section class="timeline_area section_padding_130" style="position: relative; left:-70px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Timeline Area-->
                <div class="apland-timeline-area">
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-address-card" aria-hidden="true"></i>
                                    </div>
                                    <div class="timeline-text">
                                        <h6>Purchase By james Price</h6>
                                        <p>09:24 PM</p>
                                        <br>
                                        <p>Product noise evovle smartwatch</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>New ticket received</h6>
                                        <p>4 days ago</p>
                                        <br>
                                        <p>User Erica245 submitted a ticket</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-id-card" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>Adding a new event with attachments</h6>
                                        <p>30 days ago</p>
                                        <br>
                                        <button>UI/UX design
                                            685 kB
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                      
                    </div>
                    <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-id-card" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>Template Layout Upload</h6>
                                        <p>1 week ago</p>
                                        <br>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti minus praesentium ipsum dolores voluptates repudiandae vel fugiat esse! Nesciunt.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>