<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h2>Open Plots
              
            </h2>
           

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Real Estate</li>
                   
                    <li class="breadcrumb-item active">Open Plots</li>
                </ol>
              
            </div>

        </div>
    </div>
    
</div>


<!-- <div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">

                    <li class="breadcrumb-item active text-primary">Real Estate</li>
                    <li class="breadcrumb-item active">
                        <a role="button" class="text-primary">Open Plots</a>
                    </li>


                </ol>
            </div>
        </div>
    </div>
</div> -->
<div class="card-body">
    <div class="table-responsive">
        <table class="table  table-centered align-middle table-nowrap mb-0"
            id="sortable-table">
            <thead class="text-muted table-light">
                <tr>
                    <th scope="col" style="cursor:pointer">Location</th>
                    <th scope="col" style="cursor:pointer">Layout Name</th>
                    <th scope="col" style="cursor:pointer">Facing</th>
                    <!-- <th scope="col" style="cursor:pointer">District</th> -->
                    <th scope="col" style="cursor:pointer">Plot Area (Sft)</th>
                    <!-- <th scope="col" style="cursor:pointer">Unit</th> -->
                    <th scope="col" style="cursor:pointer">Cost (Rs)</th>
                    <!-- <th scope="col" style="cursor:pointer">Type</th> -->

                </tr>

            </thead>
            <tbody class="list form-check-all">
<!-- 
                @for (data of commercialTowers; track $index) {
                <tr>

                    <td>{{data.floor}}</td>
                    <td>{{data.SFT}}</td>

                </tr>
                } -->

            </tbody>
        </table>



    </div>


</div>
