<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 *ngIf="role ==='Agent'">Agent Branch:</h4>
            <h4 class="mb-sm-0">Add Lead</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">

                    <li class="breadcrumb-item active " (click)="close()">Lead</li>
                    <li class="breadcrumb-item active">
                        <a role="button">Add Lead</a>
                    </li>


                </ol>


            </div>




        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">

            <form [formGroup]="CreateFormBasedOnLabel()" class="tablelist-form">
                <div class="card-body">
                    <div class="row">
                        <!-- Name -->
                        <div class="col">
                            <div>
                                <label for="customername-field" class="form-label">Name</label>
                                <input type="text" id="customername-field" class="form-control"
                                    formControlName="leadName" placeholder="Enter Name" required />
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="col">
                            <div>
                                <label for="email-field" class="form-label">Email</label>
                                <input type="email" id="email-field" class="form-control" placeholder="Enter Email"
                                    formControlName="emailId" />
                            </div>
                        </div>
                        <!-- Phone -->
                        <div class="col">
                            <div class="mb-3">
                                <label for="phone-field" class="form-label">Phone</label>
                                <input type="number" id="phone-field" class="form-control" placeholder="Enter Phone no."
                                    formControlName="contactNo" />
                            </div>
                        </div>
                        <!-- Enquired Date -->
                        <!-- <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Enquired Date</label>
                                <input type="date" class="form-control" formControlName="dob">
                            </div>
                        </div> -->
                        <!-- Agent -->
                        <!-- <div class="col-md-6">
                            <label for="exampleInputPassword1" class="form-label">Agent</label>
                            <div class="input-group">
                                <select formControlName="assignTo" class="form-select mb-3"
                                    aria-label="Default select example">
                                    <option value="" disabled selected style="display:none;">Select Agent</option>
                                    <option *ngFor="let user of usersData" [value]="user.id">{{ user.firstName }} {{
                                        user.lastName }}</option>
                                </select>
                            </div>
                        </div> -->
                        <!-- Product -->



                    </div>
                    <div class="row">
                        <div class="col">
                            <div>
                                <label for="email-field" class="form-label">Enquired Date</label>
                                <input type="email" id="email-field" class="form-control" placeholder=""
                                    formControlName="enquiredDate" />
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <label for="email-field" class="form-label"> Lead Creation Date</label>
                                <input type="email" id="email-field" class="form-control" placeholder=""
                                    formControlName="leadDate" />
                            </div>
                        </div>
                        <div class=" col">
                            <label for="exampleInputPassword1" class="form-label">Status</label>
                            <div class="input-group">

                                <select class="form-select" aria-label="Default select example">
                                    <option value="" disabled selected>Select Status</option>
                                    <ng-container *ngFor="let vertical of  LeadStatusTypeenumConstants">
                                        <option [value]="vertical.constantName">{{vertical.constantName}}</option>
                                    </ng-container>
                                </select>
                            </div>

                        </div>
                    </div>


                    <div class="row gy-2">


                        <div class="col-md-6">
                            <label for="ProductName" class="form-label">Chit Value</label>
                            <br>
                            <select id="ProductName" formControlName="chitValue" class="form-select"
                                (change)="onChitValueChange()">
                                <option value="">Select Product Type</option>
                                <option *ngFor="let chitValue of uniqueChitValues" [value]="chitValue">{{chitValue}}
                                </option>
                            </select>
                        </div>
                        <!-- Product Dropdown -->
                        <div class="col-md-6">
                            <label for="tenureInMonths" class="form-label">Duration</label>
                            <br>
                            <select id="tenureInMonths" formControlName="durationMonths" class="form-select"
                                (change)="onDurationChange()">
                                <option value="">Select Product</option>
                                <option *ngFor="let product of durationByChitValue" [value]="product.durationMonths">{{
                                    product.durationMonths }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row gy-2">
                        <div class="col">
                            <label for="exampleInputPassword1" class="form-label"> Lead Source</label>
                            <div class="input-group">
                                <select class="form-select" (change)="onSourceChange($event)">
                                    <option value="">Select Source</option>
                                    <option *ngFor="let source of leadSourceData" [ngValue]="source">{{ source.name }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col">
                            <label for="exampleInputPassword1" class="form-label"> Sub Source</label>
                            <div class="input-group">
                                <select formControlName="id" class="form-select">
                                    <option value="">Select Sub Source</option>
                                    <option *ngFor="let sub of SourceSubCategoryData" [value]="sub.id">
                                        {{ sub.title }}

                                    </option>
                                </select>
                            </div>
                        </div>


                    </div>
                    





                    <div class="mb-3 row">
                        <div class="col-6">
                            <label for="customername-field" class="form-label">Address</label>

                            <textarea class="form-control" id="exampleFormControlTextarea5" formControlName="address"
                                rows="3"></textarea>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="exampleFormControlTextarea5" class="form-label">Query</label>
                            <textarea class="form-control" id="exampleFormControlTextarea5" formControlName=""
                                rows="3"></textarea>

                        </div>

                    </div>



                    <div class="modal-footer">
                        <div class="hstack gap-2 justify-content-end">
                            <!-- Cancel button -->
                            <button type="button" class="btn btn-light" (click)="close()">Cancel</button>
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-success" id="add-btn"
                                [disabled]="!(ChitLeadForm.valid)" (click)="onSubmit()"
                                [ngClass]="{'text-body-tertiary': !(ChitLeadForm.valid)}">
                                Add Lead
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div style="z-index: 11">
    <div id="borderedToast4" class="toast toast-border-danger overflow-hidden mt-3" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="toast-body">
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0 me-2">
                    <i class="ri-alert-line align-middle"></i>
                </div>
                <div class="flex-grow-1">
                    <h6 class="mb-0">Something is very wrong! <a href="javascript:void(0);"
                            class="text-decoration-underline">See detailed report.</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>