<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4>Source and Sub source</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Administration</li>
                    <li class="breadcrumb-item active">Source and Sub source</li>
                </ol>
                <br>
                <div class="col-sm">
                    <div class="d-flex justify-content-sm-end">


                        <button (click)="openModal()" type="button" class="btn btn-success add-btn me-2" id="create-btn"><i
                                class="ri-add-line align-bottom me-1"></i>
                            Add</button>




                    </div>
                </div>
            </div>


        </div>
    </div>

</div>


<div class="container">
    <div class="card">

        <div class="card-body">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Business</th>
                        <th>Source</th>
                        <th>Name</th>
                        <th>Sequence</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let element of sourceData">
                        <tr [ngClass]="{'highlight': element.Business === selectedBusiness}" (click)="toggleBusiness(element.Business)">
                            <td>{{element.sno}}</td>
                            <td>{{element.Business}}</td>
                            <td>{{element.Source}}</td>
                            <td>{{element.Name}}</td>
                            <td>{{element.Sequence}}</td>
                            <td (click)="stopPropagation($event)">
                                <div class="dropdown">
                                    <button class="btn btn-subtle-secondary btn-sm dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" (click)="stopPropagation($event)">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end" style="cursor: pointer;">
                                        <li (click)="openEditPicklist()" style="cursor: pointer;">
                                            <a class="dropdown-item" href="javascript:void(0);" style="cursor: pointer;"
                                                >Edit</a>
                                        </li>
                                        <li style="cursor: pointer;" (click)="deleteForm()">
                                            <a class="dropdown-item"  href="javascript:void(0);"
                                                style="cursor: pointer;">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

    <ng-container *ngIf="selectedBusiness === 'Chits'">
        <div class="card mt-4">
            <div class="card-body">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Sub Source</th>
                            <th>Sequence</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let subElement of sourceData[0].subData">
                            <tr >
                                <td>{{subElement.subSource}}</td>
                                <td>{{subElement.subSequence}}</td>
                                <td (click)="stopPropagation($event)">
                                    <div class="dropdown ">
                                        <button class="btn btn-subtle-secondary btn-sm dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" (click)="stopPropagation($event)">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" style="cursor: pointer;">
                                            <li (click)="onUpadtePicklistValues()" style="cursor: pointer;">
                                                <a class="dropdown-item" href="javascript:void(0);"
                                                    style="cursor: pointer;">Edit</a>
                                            </li>
                                            <li (click)="deleteForm()"  style="cursor: pointer;">
                                                <a class="dropdown-item"
                                                    href="javascript:void(0);" style="cursor: pointer;">Delete</a>
                                            </li>
                               
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <button (click)="onCreatePickListValues()" type="button" class="btn btn-success add-btn me-2 float-end" id="create-btn"><i
                    class="ri-add-line align-bottom me-1"></i>
                Add</button>
            </div>
            
        </div>
    </ng-container>

    <ng-container *ngIf="selectedBusiness === 'Real estate'">
        <div class="card mt-4">

            <div class="card-body">

                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Sub Source</th>
                            <th>Sequence</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let subElement of sourceData[1].subData">
                            <tr>
                                <td>{{subElement.subSource}}</td>
                                <td>{{subElement.subSequence}}</td>
                                <td (click)="stopPropagation($event)">
                                    <div class="dropdown">
                                        <button class="btn btn-subtle-secondary btn-sm dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" (click)="stopPropagation($event)">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" style="cursor: pointer;">
                                            <li (click)="onUpadtePicklistValues()" style="cursor: pointer;">
                                                <a class="dropdown-item" href="javascript:void(0);"
                                                    style="cursor: pointer;">Edit</a>
                                            </li>
                                            <li (click)="deleteForm()"  style="cursor: pointer;">
                                                <a class="dropdown-item"
                                                    href="javascript:void(0);" style="cursor: pointer;">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <button (click)="onCreatePickListValues()" type="button" class="btn btn-success add-btn me-2 float-end" id="create-btn"><i
                    class="ri-add-line align-bottom me-1"></i>
                Add</button>
            </div>
           
                
           
        </div>
    </ng-container>
</div>



<!-- create source-->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"> Create Source</h2>
                <span class="close" aria-label="Close" (click)="onCloseHandled()" aria-hidden="true"
                    style="font-size: 30px; color: #888888; cursor: pointer;">&times;</span>
            </div>
            <div class="modal-body">
                <form>
                    <label for="exampleInputPassword1" class="form-label">Business Verticals</label>
                    <div class="input-group">
                        <select class="form-select" aria-label="Default select example">
                            @for(vertical of verticalData; track $index){
                            <option [value]="vertical.id">{{vertical.name}}</option>
                            <option value="" disabled selected style="display:none;">Select Business Verticals</option>

                            }
                        </select>
                    </div>

                    <br>
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label">Source<span
                                class="text-danger">&nbsp;*</span></label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Source"
                            formControlName="Source">
                    </div>
                    <br>
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label">Name<span
                                class="text-danger">&nbsp;*</span></label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Name"
                            formControlName="Name">
                    </div>
                    <br>
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label">Sequence<span
                                class="text-danger">&nbsp;*</span></label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Sequence"
                            formControlName="Sequence">
                    </div>

                    <div class="float-end d-flex">
                        <button type="button" class="btn btn-danger" (click)="onCloseHandled()">Cancel</button>
                        <button type="button" class="btn btn-success" (click)="onCloseHandled()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- update Source -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display1}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Update Source</h2>
                <span class="close" aria-label="Close" (click)="onCloseHandled1()" aria-hidden="true"
                    style="font-size: 30px; color: #888888; cursor: pointer;">&times;</span>
            </div>
            <div class="modal-body">
                <form>
                    <label for="exampleInputPassword1" class="form-label">Business Verticals</label>
                    <div class="input-group">
                        <select class="form-select" aria-label="Default select example">
                            @for(vertical of verticalData; track $index){
                            <option [value]="vertical.id">{{vertical.name}}</option>
                            <option value="" disabled selected style="display:none;">Select Business Verticals</option>

                            }
                        </select>
                    </div>

                    <br>
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label">Source<span
                                class="text-danger">&nbsp;*</span></label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Source"
                            formControlName="Source">
                    </div>
                    <br>
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label">Name<span
                                class="text-danger">&nbsp;*</span></label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Name"
                            formControlName="Name">
                    </div>
                    <br>
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label">Sequence<span
                                class="text-danger">&nbsp;*</span></label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Sequence"
                            formControlName="Sequence">
                    </div>

                    <div class="float-end d-flex">
                        <button type="button" class="btn btn-danger" (click)="onCloseHandled1()">Cancel</button>
                        <button type="button" class="btn btn-success" (click)="onCloseHandled1()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- create Sub Source -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display3}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Create Sub Source</h2>
                <span class="close" aria-label="Close" (click)="onPickListValues()" aria-hidden="true"
                    style="font-size: 30px; color: #888888; cursor: pointer;">&times;</span>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <label for="exampleInputPassword1" class="form-label">Sub Source<span
                                    class="text-danger">&nbsp;*</span></label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Sub Source"
                                formControlName="Sub Source">
                        </div>
                       
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label for="exampleInputPassword1" class="form-label">Sequence<span
                                    class="text-danger">&nbsp;*</span></label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Sequence"
                                formControlName="Enter Sequence">
                        </div>
                       
                    </div>
                    <div class="float-end d-flex">
                        <button type="button" class="btn btn-danger" (click)="onPickListValues()">Cancel</button>
                        <button type="button" class="btn btn-success" (click)="onPickListValues()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- update Sub source -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display4}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"> Update Sub Source Values</h2>
                <span class="close" aria-label="Close" (click)="oncloseUpdatePickListValues()" aria-hidden="true"
                    style="font-size: 30px; color: #888888; cursor: pointer;">&times;</span>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <label for="exampleInputPassword1" class="form-label">Sub Source<span
                                    class="text-danger">&nbsp;*</span></label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Sub Source"
                                formControlName="Sub Source">
                        </div>
                       
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label for="exampleInputPassword1" class="form-label">Sequence<span
                                    class="text-danger">&nbsp;*</span></label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Sequence"
                                formControlName="Enter Sequence">
                        </div>
                       
                    </div>
                    <div class="float-end d-flex">
                        <button type="button" class="btn btn-danger" (click)="oncloseUpdatePickListValues()">Cancel</button>
                        <button type="button" class="btn btn-success" (click)="oncloseUpdatePickListValues()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>