<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4>Users</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Administration</li>
                    <li class="breadcrumb-item active">Users</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="d-flex justify-content-sm-end gap-2">
            <button *ngIf="userCreate" class="btn btn-success add-btn" (click)="openDialog()"> +
                &nbsp;Add</button>
            <button class="btn btn-success"><i class="bi bi-house align-baseline me-1"></i>
                DOWNLOAD PDF</button>
            <button class="btn btn-success"><i class="bi bi-house align-baseline me-1"></i>DOWNLOAD
                EXCEL</button>

            <button class="btn btn-success" (click)="clearAllSearchFields()">Clear All</button>

        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display2}" id="dltModel">
    <div class="modal-dialog" role="document" style="position: relative;top:150px;">
        <div class="modal-content">
            <div class="modal-header">

                <span style="font-weight: bold;margin-left: 130px;"> Do you want to delete record?</span>
                <span class="close" aria-label="Close" (click)="onClosed()" aria-hidden="true"
                    style="font-size: 30px; color: #888888; cursor: pointer;">&times;</span>
            </div>
            <hr>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" (click)="onClosed()">X Cancel</button>
                <button type="button" class="btn btn-success" (click)="DeleteList()">OK</button>
            </div>
        </div>
    </div>

</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display3}" id="dltModel">
    <div class="modal-dialog" role="document" style="position: relative;top:150px;">
        <div class="modal-content">
            <div class="modal-header">

                <span style="font-weight: bold;margin-left: 130px;">Are you sure to make Inactive ?</span>
                <span class="close" aria-label="Close" (click)="closeActive()" aria-hidden="true"
                    style="font-size: 30px; color: #888888; cursor: pointer;">&times;</span>
            </div>
            <hr>

            <div class="modal-footer">

                <button type="button" class="btn btn-danger" (click)="closeActive()">X Cancel</button>
                <button type="button" class="btn btn-success" (click)="closeActive()">Ok</button>
            </div>
        </div>
    </div>

</div>

<div class="card" id="propertyList">

    <div class="card-body">
        <div class="table-responsive">
            <div class="row d-flex mb-2">

                <div class="search-box col-2">
                    <input type="text" class="form-control search" placeholder="Search Name.."
                        [(ngModel)]="searchTermName" (input)="filterLeads()">
                    <i class="ri-search-line search-icon"></i>
                </div>

                <div class="search-box col-2">
                    <input type="text" class="form-control search" placeholder="Search Role"
                        [(ngModel)]="searchTermRole" (input)="filterLeads()">
                    <i class="ri-search-line search-icon"></i>
                </div>
                <div class="search-box col-2">
                    <input type="text" class="form-control search" placeholder="Search UserName"
                        [(ngModel)]="searchTermuserName" (input)="filterLeads()">
                    <i class="ri-search-line search-icon"></i>
                </div>
                <div class="search-box col-2">
                    <input type="text" class="form-control search" placeholder="Search Email"
                        [(ngModel)]="searchTermEmail" (input)="filterLeads()">
                    <i class="ri-search-line search-icon"></i>
                </div>
                <div class="search-box col-2">
                    <input type="text" class="form-control search" placeholder="Search Phone "
                        [(ngModel)]="searchTermPhone" (input)="filterLeads()">
                    <i class="ri-search-line search-icon"></i>
                </div>
                <div class="search-box col-2">
                    <input type="text" class="form-control search" placeholder="Search Branch"
                        [(ngModel)]="searchTermBranch" (input)="filterLeads()">
                    <i class="ri-search-line search-icon"></i>
                </div>


            </div>
            <table class="table  table-centered align-middle table-nowrap mb-0" id="sortable-table">
                <thead class="text-muted table-light">
                    <tr>

                        <th scope="col" (click)="sortTable('firstName')" style="cursor:pointer">
                            Name
                            <span *ngIf="sortColumn === 'firstName'">

                                <i *ngIf="sortOrder === 'asc'" class="fa fa-sort-up"></i>
                                <i *ngIf="sortOrder === 'desc'" class="fa fa-sort-down"></i>
                            </span>
                            <span *ngIf="sortColumn !== 'firstName'">
                                <!-- Hide the default ascending icon when sorting by other columns -->
                                <i [hidden]="true" class="fa fa-sort-up"></i>
                            </span>
                        </th>
                        <th scope="col" (click)="sortTable('role')" style="cursor:pointer">
                            Role
                            <span *ngIf="sortColumn === 'role'">
                                <i *ngIf="sortOrder === 'asc'" class="fa fa-sort-up"></i>
                                <i *ngIf="sortOrder === 'desc'" class="fa fa-sort-down"></i>
                            </span>
                        </th>
                        <th scope="col" (click)="sortTable('userName')" style="cursor:pointer">
                            User Name
                            <span *ngIf="sortColumn === 'userName'">
                                <i *ngIf="sortOrder === 'asc'" class="fa fa-sort-up"></i>
                                <i *ngIf="sortOrder === 'desc'" class="fa fa-sort-down"></i>
                            </span>
                        </th>
                        <th scope="col" (click)="sortTable('email')" style="cursor:pointer">
                            Email
                            <span *ngIf="sortColumn === 'email'">
                                <i *ngIf="sortOrder === 'asc'" class="fa fa-sort-up"></i>
                                <i *ngIf="sortOrder === 'desc'" class="fa fa-sort-down"></i>
                            </span>
                        </th>
                        <th scope="col" (click)="sortTable('phoneNumber')" style="cursor:pointer">
                            Phone Number
                            <span *ngIf="sortColumn === 'phoneNumber'">
                                <i *ngIf="sortOrder === 'asc'" class="fa fa-sort-up"></i>
                                <i *ngIf="sortOrder === 'desc'" class="fa fa-sort-down"></i>
                            </span>
                        </th>
                        <th scope="col" (click)="sortTable('branchName')" style="cursor:pointer">
                            Branch
                            <span *ngIf="sortColumn === 'branchName'">
                                <i *ngIf="sortOrder === 'asc'" class="fa fa-sort-up"></i>
                                <i *ngIf="sortOrder === 'desc'" class="fa fa-sort-down"></i>
                            </span>
                        </th>
                        <th scope="col"><span>Status</span></th>
                        <th scope="col"><span>Actions</span></th>

                    </tr>

                </thead>
                <tbody class="list form-check-all">
                    <tr *ngFor="let list of Userlist1;">

                        <td scope="row">
                            {{list.firstName}}&nbsp;{{list.lastName}}</td>
                        <td>{{list.userName}}</td>
                        <td>{{list.email}}</td>
                        <td>{{list.phoneNumber}}</td>
                        <td>{{list.branchName}}</td>

                        <td [ngClass]="{'text-danger': !list.isActive, 'text-primary': list.isActive}">
                            <span *ngIf="list.isActive; then activeContent else inactiveContent"></span>
                            <ng-template #inactiveContent>Inactive</ng-template>
                            <ng-template #activeContent>Active</ng-template>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-subtle-secondary btn-sm dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" style="cursor: pointer;">

                                    <li *ngFor="let action of UserListActions" style="cursor: pointer;">
                                        <span class="dropdown-item" *ngIf="action === 'Edit' && userWrite"
                                            (click)="openEditForm(list.id)" style="cursor: pointer;">
                                            {{action}}
                                        </span>
                                        <span class="dropdown-item" *ngIf="action == 'View' && userWrite" class="edit"
                                            (click)="openViewForm(list.id)"
                                            style="cursor: pointer;position: relative;left:15px">
                                            {{action}}
                                        </span>
                                        <span class="dropdown-item" *ngIf="action == 'Reset Password' && userWrite"
                                            class="edit" (click)="userClick(list.id)"
                                            style="cursor: pointer;position: relative;left:15px">
                                            {{action}}
                                        </span>

                                        <span class="dropdown-item"
                                            *ngIf="action === (list.isActive ? 'Inactive' : 'Active')"
                                            (click)="changeStatus(list.id, list.isActive)" style="cursor: pointer;">
                                            {{action}}
                                        </span>
                                        <span class="dropdown-item" *ngIf="action === 'Delete' && userDelete"
                                            (click)="openDelete(list.id)" style="cursor: pointer;">
                                            {{action}}
                                        </span>


                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display4}" id="dltModel">
    <div class="modal-dialog" role="document" style="position: relative;top:150px;">
        <div class="modal-content">
            <div class="modal-header">

                <span style="font-weight:bolder;margin-left:150px;font-size:18px;">Reset Password</span>
                <span class="close" aria-label="Close" (click)="closePassword()" aria-hidden="true"
                    style="font-size: 30px; color: #888888; cursor: pointer;">&times;</span>
            </div>
            <hr>
            <div class="modal-body">
                <form [formGroup]="passwordResetForm">
                    <label for="newPassword" class="form-label">New Password</label>
                    <input type="password" formControlName="newPassword" id="newPassword" style="margin-top:-10px;"
                        class="form-control">
                    <div *ngIf="passwordResetForm.get('newPassword').errors?.required && passwordResetForm.get('newPassword').touched"
                        style="color:red">
                        Password is required.
                    </div>
                    <div *ngIf="passwordResetForm.get('newPassword').errors?.minlength && passwordResetForm.get('newPassword').touched"
                        style="color:red">
                        Password must be at least 8 characters long.
                    </div>
                    <div *ngIf="passwordResetForm.get('newPassword').errors?.invalidPassword && passwordResetForm.get('newPassword').touched"
                        style="color:red">
                        Password must contain all the characters.
                    </div>

                    <label for="confirmPassword" class="form-label" style="margin-top:10px;">Confirm New
                        Password</label>
                    <input type="password" id="confirmPassword" formControlName="confirmPassword"
                        style="margin-top:-10px;" class="form-control">
                    <div *ngIf="passwordResetForm.hasError('mismatch') && passwordResetForm.get('confirmPassword').touched"
                        style="color:red">
                        Passwords do not match.
                    </div>
                    <div *ngIf="error12">
                        <p style="color:red"> Passwords do not match.</p>

                    </div>

                </form>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="savePassword()">Save</button>
                <button type="button" class="btn btn-danger" (click)="closePassword()"> Cancel</button>
            </div>
        </div>
    </div>

</div>