<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4> Product Types</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Real Estate</li>
                    <li class="breadcrumb-item active">Master</li>
                    <li class="breadcrumb-item active"> Product Types</li>
                </ol>

            </div>

        </div>
    </div>
    <div class="col-sm">
        <div class="d-flex justify-content-sm-end gap-2">
            <button type="button" class="btn btn-success add-btn" id="create-btn" (click)="openModal()"
                data-toggle="tooltip" data-placement="top" title="click Add" style="color:black"><i
                    class="ri-add-line align-bottom me-1"></i>
                Add</button>

        </div>
    </div>
</div>



<div class="container">
    <div class="row">

    </div>
    <div class="container">
        <div class="row  row-cols-lg-3 d-flex">

            <!-- <div class="col-4" style="font-weight:normal; font-size: 25px;">
                Product Types</div> -->



            <div class="col-lg-3 col-md-6 order-last justify-content-center me-auto"
                style="position: relative;margin-left:-20px;top:-30px">
                <div class="search-box">
                    <input type="text" class="form-control search" placeholder="Search for Product Type">
                    <i class="ri-search-line search-icon"></i>
                </div>
            </div>

            <div class=" order-last justify-content-end" style="margin-left: 30px;">
                <!-- 
                <button type="button" class="btn btn-success add-btn" id="create-btn" (click)="openModal()"
                    data-toggle="tooltip" data-placement="top" title="click Add" style="color:black"><i
                        class="ri-add-line align-bottom me-1"></i>
                    Add</button> -->
            </div>


        </div>
    </div>
</div>
<div class="container" style="background-color:white;
box-shadow: 1px 1px 1px 1px #888888; height: 100%; width:100%;top:-10px; position: relative;">
    <table class="table table-striped">

        <thead class="text-muted table-light">
            <tr>

                <!-- <th scope="col">Name</th>
                <th scope="col">Code</th> -->
                <th scope="col" (click)="sortTable('name')" style="cursor:pointer">
                    Name
                    <span *ngIf="sortColumn === 'name'">
                        <!-- Show ascending or descending icon based on sortOrder -->
                        <i *ngIf="sortOrder === 'asc'" class="fa fa-sort-up"></i>
                        <i *ngIf="sortOrder === 'desc'" class="fa fa-sort-down"></i>
                    </span>
                    <span *ngIf="sortColumn !== 'name'">
                        <!-- Hide the default ascending icon when sorting by other columns -->
                        <i [hidden]="true" class="fa fa-sort-up"></i>
                    </span>
                </th>
                <!-- <th scope="col" (click)="sortTable('code')" style="cursor:pointer">
                    Code
                    <span *ngIf="sortColumn === 'code'">
                        <i *ngIf="sortOrder === 'asc'" class="fa fa-sort-up"></i>
                        <i *ngIf="sortOrder === 'desc'" class="fa fa-sort-down"></i>
                    </span>
                </th> -->
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody style="position: relative;left:10px;">
            @for(cat of categoryData; track $index){
            <tr>


                <!-- <td>Real Estate</td> -->
                <td>{{cat}}</td>
                <!-- <td>{{cat.code}}</td> -->

                <!-- <td>Active</td> -->
                <!-- <td class="d-flex gap-2">
                   
                    <button class="btn btn-sm btn-success edit-item-btn" title="Edit" (click)="EditModal()"><i
                            style="margin-left:-2px;" class="bi bi-pen"></i></button>
                    <button class="btn btn-sm btn-danger remove-item-btn" title="Delete"><i style="margin-left:-2px;"
                            class="ri-delete-bin-2-line"></i></button>
                </td> -->
                <td>
                    <div class="dropdown">
                        <button class="btn btn-subtle-secondary btn-sm dropdown-toggle" type="button"
                            data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" style="cursor: pointer;">
                            <li style="cursor: pointer;">
                                <a class="dropdown-item" href="javascript:void(0);" (click)="EditModal()"
                                    style="cursor: pointer;">Edit</a>
                            </li>
                            <li style="cursor: pointer;">
                                <a class="dropdown-item" href="javascript:void(0);" style="cursor: pointer;">Delete</a>
                            </li>

                        </ul>
                    </div>
                </td>
            </tr>
            }



        </tbody>

    </table>
    <i style="font-size:16px;color:navy;position: relative;left:10px" class="fa">&#xf021;</i>
    <div class="d-flex justify-content-end">
        <div class="pagination-wrap hstack gap-2">
            <pagination class="pagination-wrap hstack gap-2" (pageChange)="onTableDataChange($event)"
                [itemsPerPage]="15">

            </pagination>
        </div>
    </div>
    <!-- <nav aria-label="Page navigation example"
        style="margin-left: 350px;position: relative;top:-20px;border-radius: 30px;">
        <ul class="pagination">
            <li class="page-item" style="border-radius: 300px;"><a class="page-link"
                    style="border-radius: 30px; width:30px"><i style="position: relative; left:-15px;"
                        class="fas fa-chevron-left"></i></a></li>
            <li class="page-item"><a class="page-link" style="background-color: yellow;border-radius: 30px;">1</a></li>
            <li class="page-item"><a class="page-link" style="border-radius: 30px;">2</a></li>
            <li class="page-item" style="border-radius: 30px;"><a class="page-link" style="border-radius: 30px;">3</a>
            </li>
            <li class="page-item"><a class="page-link" style="border-radius: 30px;width:30px"><i
                        class="fas fa-chevron-right" style="position: relative; left:-15px;"></i></a></li>
        </ul>
    </nav> -->
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="position: relative;left:100px"> Add Product Type</h4>
                <span class="close" aria-label="Close" (click)="onCloseHandled()" aria-hidden="true"
                    style="font-size: 30px; color: #888888; cursor: pointer;">&times;</span>
            </div>
            <hr>
            <div class="modal-body">

                <form>
                    <div class="row">


                        <div class="col">
                            <label for="exampleInputPassword1" class="form-label">Name</label>
                            <input type="text" class="form-control"
                                style=" position:relative;width:250px; height:30px;">
                            <!-- <select style="position: relative; left:210px; top:-28px">
                                <option></option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select> -->

                            <label for="exampleInputPassword1" class="form-label">Code</label>
                            <input type="text" class="form-control"
                                style=" position:relative;width:250px; height:30px ;">



                        </div>
                        <div class="col">
                            <!-- <label for="exampleInputPassword1" class="form-label">Name</label>
                            <input type="text" class="form-control"
                                style=" position:relative;width:200px; height:30px ;">
                            <br> -->
                            <div>
                                <p>Status*</p>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Active</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Inactive</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="onCloseHandled()">Cancel</button>
                <button type="button" class="btn btn-success" (click)="onCloseHandled()">Save</button>
            </div>
        </div>
    </div>

</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display1}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="position: relative;left:100px">Edit Product Type</h4>
                <span class="close" aria-label="Close" (click)="onCloseHandled1()" aria-hidden="true"
                    style="font-size: 30px; color: #888888; cursor: pointer;">&times;</span>
            </div>
            <hr>
            <div class="modal-body">


                <form>
                    <div class="row">


                        <div class="col">
                            <label for="exampleInputPassword1" class="form-label">Name</label>
                            <input type="text" class="form-control"
                                style=" position:relative;width:250px; height:30px;">
                            <!-- <select style="position: relative; left:210px; top:-28px">
                                <option></option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select> -->

                            <label for="exampleInputPassword1" class="form-label">Code</label>
                            <input type="text" class="form-control"
                                style=" position:relative;width:250px; height:30px ;">



                        </div>
                        <div class="col">
                            <!-- <label for="exampleInputPassword1" class="form-label">Name</label>
                            <input type="text" class="form-control"
                                style=" position:relative;width:200px; height:30px ;">
                            <br> -->
                            <div>
                                <p>Status*</p>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Active</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Inactive</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" (click)="onCloseHandled()">Cancel</button>

                <button type="button" class="btn btn-success" (click)="onCloseHandled()">Save</button>
            </div>
        </div>
    </div>

</div>