<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h2>Units
              
            </h2>
           

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Real Estate</li>
                   
                    <li class="breadcrumb-item active">Units</li>
                </ol>
              
            </div>

        </div>
    </div>
    
</div>

<!-- 
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">

                    <li class="breadcrumb-item active text-primary">Real Estate</li>
                    <li class="breadcrumb-item active">
                        <a role="button" class="text-primary">Units</a>
                    </li>


                </ol>
            </div>
        </div>
    </div>
</div> -->
<div class="card-body">
    <div class="table-responsive">
        <table class="table  table-centered align-middle table-nowrap mb-0"
            id="sortable-table">
            <thead class="text-muted table-light">
                <tr>

                    <th scope="col" style="cursor:pointer">Units</th>
                   
                    <th scope="col" style="cursor:pointer">No.of Units</th>
                    <!-- <th scope="col" style="cursor:pointer">Product</th> -->
                    
                    <th scope="col" style="cursor:pointer">Total Value (Rs)</th>


                </tr>

            </thead>
            <tbody class="list form-check-all">

                @for (data of units; track $index) {
                <tr>

                    
                    <!-- <td>{{data.productType}}</td> -->
                    <td>{{data.Group}}</td>
                    <td>{{data.product}}</td>
                   
                    <td>{{data.totalValue}}</td>

                </tr>
                }

            </tbody>
        </table>



    </div>


</div>
