<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">


            <div class="page-title-right">
                <ol class="breadcrumb m-0">


                    <li class="breadcrumb-item active text-primary">Administration</li>
                    <li class="breadcrumb-item active text-primary">Lead</li>


                </ol>
            </div>
            <h4 class="mb-sm-0">Add Lead</h4>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">

            <form [formGroup]="LeadForm" class="tablelist-form">
                <div class="card-body">
                    <div class="row gy-2">


                        <div class=" col-md-6">
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label"
                                    style="position:relative;">Enquired Date</label>
                                <input type="date" class="form-control" formControlName="dob">
                            </div>
                        </div>
                        <div class=" col-md-6">
                            <div>
                                <label for="customername-field" class="form-label">Lead Name</label>
                                <input type="text" id="customername-field" class="form-control"
                                    formControlName="leadName"
                                    [ngClass]="{ 'is-invalid': submitted && form['leadName'].errors }"
                                    placeholder="Enter Name" required />
                            </div>
                        </div>
                        <div class=" col-md-6">
                            <div class="mb-3">
                                <label>Contact No</label>
                                <input type="text" id="phone-field" class="form-control" placeholder="Enter Phone no."
                                    formControlName="contactNo" />
                            </div>
                        </div>
                        <div class=" col-md-6">
                            <div>
                                <label for="email-field" class="form-label">Email-Id</label>
                                <input type="email" id="email-field" class="form-control" placeholder="Enter Email"
                                    formControlName="emailId"
                                    [ngClass]="{ 'is-invalid': submitted && form['emailId'].errors }" required />
                            </div>
                        </div>
                        <div class="row gy-2">
                            <div class=" col-md-6">
                                <label for="exampleInputPassword1" class="form-label">Source</label>
                                <div class="input-group">

                                    <!-- <label class="input-group-text" for="inputGroupSelect01">Options</label> -->
                                    <select formControlName="sourceId" class="form-select mb-3"
                                        aria-label="Default select example">
                                        @for(source of SourceData; track $index){
                                        <option [value]="source.id">{{source.name}}</option>
                                        <option value="" disabled selected style="display:none;">Select Source</option>

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class=" col-md-6">
                                <label for="exampleInputPassword1" class="form-label">Source Sub Category</label>
                                <div class="input-group">

                                    <!-- <label class="input-group-text" for="inputGroupSelect01">Options</label> -->
                                    <select formControlName="sourceSubCategoryId" class="form-select mb-3"
                                        aria-label="Default select example">
                                        @for(sub of Sourcesubcategorydata; track $index){
                                        <option [value]="sub.id">{{sub.name}}</option>
                                        <option value="" disabled selected style="display:none;">Select sub category
                                        </option>

                                        }
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div>
                                <label for="customername-field" class="form-label">Address</label>
                                <input type="text" id="customername-field" class="form-control"
                                    formControlName="address" placeholder="Address" />
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <label for="exampleFormControlTextarea5" class="form-label">Query</label>
                            <textarea class="form-control" id="exampleFormControlTextarea5"
                                formControlName="employeeName" rows="3"></textarea>

                        </div>
                        <!-- <div class="col-md-6">
                            <label for="exampleInputPassword1" class="form-label">Agent</label>
                            <div class="input-group">

                               
                                <select formControlName="assignTo" class="form-select mb-3"
                                    aria-label="Default select example">
                                    @for(user of usersData;track $index){
                                    <option value="" disabled selected style="display:none;">Select Agent</option>

                                    <option [value]="user.id">
                                        {{user.firstName}}&nbsp;{{user.lastName}}
                                    </option>
                                    }
                                </select>
                            </div>
                        </div> -->


                        <!-- <div class="col-md-6">
                            <label for="exampleInputPassword1" class="form-label">Product</label>
                            <div class="input-group">
                               
                                <select formControlName="productId" class="form-select mb-3"
                                    aria-label="Default select example">
                                    @for(product of ProductsData; track $index){
                                    <option [value]="product.id">{{product.name}}</option>
                                    <option value="" disabled selected style="display:none;">Select Product</option>

                                    }
                                </select>
                            </div>

                        </div>
                        <div>
                            <div class="col-md-6">
                                <label for="exampleInputPassword1" class="form-label">Status</label>
                                <div class="input-group">

                                   
                                    <select formControlName="status" class="form-select mb-3"
                                        aria-label="Default select example">
                                        @for(status of filteredData; track $index){
                                        <option [value]="status.id">{{status.title}}</option>
                                        <option value="" disabled selected style="display:none;">Select status</option>

                                        }
                                    </select>
                                </div>
                            </div>


                        </div> -->

                    </div>





















                    <div class="modal-footer">
                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-danger" (click)="close()">Close</button>
                            <button type="submit" class="btn btn-success" id="add-btn" (click)="onSubmit()"
                                [disabled]="!LeadForm.valid" [ngClass]="{'disabled-button': !LeadForm.valid}">Add
                                Lead</button>
                            <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="z-index: 11">
    <div id="borderedToast4" class="toast toast-border-danger overflow-hidden mt-3" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="toast-body">
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0 me-2">
                    <i class="ri-alert-line align-middle"></i>
                </div>
                <div class="flex-grow-1">
                    <h6 class="mb-0">Something is very wrong! <a href="javascript:void(0);"
                            class="text-decoration-underline">See detailed report.</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>